body {
  font-family: 'Poppins', sans-serif;
  background: url(bbb.jpeg);
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  
}

.container {
  background: rgba(67, 90, 89, 0.13);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.973);
  padding: 30px;
  max-width: 420px;
  width: 100%;
  text-align: center;
}

h2 {
  font-style: initial;
  color: #444;
  font-weight: 600;
  margin-bottom: 20px;
}


input[type="text"] {
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  transition: border 0.3s;
}

input[type="text"]:focus {
  border-color: #ff758c;
}

#errorMessage {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

#qrcode {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  background: #fff;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

button, a {
  padding: 12px 15px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
}

button {
  background: #ff758c;
  color: #fff;
}

button:hover {
  background: #e84360;
}

#downloadBtn {
  background: #28a745;
  color: white;
  display: none;
}

#downloadBtn:hover {
  background: #218838;
}

.reset {
  background: #dc3545;
  color: white;
  display: none;
}

.reset:hover {
  background: #b02a37;
}

.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}

